# Plot bar char with labels

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Topic_Survey_Assignment.csv',index_col=0)

In [4]:
df.head(6)

,Very interested,Somewhat interested,Not interested
Big Data (Spark / Hadoop),1332,729,127
Data Analysis / Statistics,1688,444,60
Data Journalism,429,1081,610
Data Visualization,1340,734,102
Deep Learning,1263,770,136
Machine Learning,1629,477,74

In [5]:
df.shape

(6, 3)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, Big Data (Spark / Hadoop) to Machine Learning
Data columns (total 3 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Very interested      6 non-null      int64
 1   Somewhat interested  6 non-null      int64
 2   Not interested       6 non-null      int64
dtypes: int64(3)
memory usage: 192.0+ bytes

In [8]:
df_bar = df.copy()
df_bar['Very interested'] = (df['Very interested'] / 2233).round(2)
df_bar['Somewhat interested'] = (df['Somewhat interested'] / 2233).round(2)
df_bar['Not interested'] = (df['Not interested'] / 2233).round(2)

In [9]:
df_bar.head(6)

,Very interested,Somewhat interested,Not interested
Big Data (Spark / Hadoop),0.60,0.33,0.06
Data Analysis / Statistics,0.76,0.20,0.03
Data Journalism,0.19,0.48,0.27
Data Visualization,0.60,0.33,0.05
Deep Learning,0.57,0.34,0.06
Machine Learning,0.73,0.21,0.03

In [10]:
df_bar.index

Index(['Big Data (Spark / Hadoop)', 'Data Analysis / Statistics',
       'Data Journalism', 'Data Visualization', 'Deep Learning',
       'Machine Learning'],
      dtype='object')

In [11]:
df_bar.columns

Index(['Very interested', 'Somewhat interested', 'Not interested'], dtype='object')